.box {
    display: inline-block;
    background-color: #BFEDC1;
    box-shadow: 10px 10px rgb(0, 0, 0);
    text-align: center;
    padding: 42px 44px;
}
.box title {
    margin-bottom: 28px;
    
}

