.button {
    display: inline-block;
    background-color: #BFEDC1;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin:5px 5px;
    transition: transform 200ms linear;
    text-decoration: none;
    font-family:"Fira Code",Arial, Helvetica, sans-serif;
    font-size: 20px;
      

}
.button:hover {
    background-color: #50723C;
    transform: scale(1.09);
    color: #EB9D1E;   


}